<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
	<resultMap type="BoardVO" id="BoardResult">
		<id property="bno" column="bno"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writer" column="writer"/>
		<result property="regdate" column="regdate"/>
		<result property="viewcnt" column="viewcnt"/>
		<result property="replycnt" column="replycnt"/>
		<collection property="files" ofType="java.lang.String" javaType="list">
			<result column="fullName"/>
		</collection>
	</resultMap>
	
	<insert id="insert" parameterType="BoardVO">
		insert into tbl_board (title, content, writer) 
		values(#{title}, #{content}, #{writer})
	</insert>
	
	<select id="readByNo" resultType="BoardVO">
		select * from tbl_board
		where bno = #{bno}
	</select>
	
	<select id="readAndAttachByBno" resultMap="BoardResult">
		select * from tbl_board b left join tbl_attach a on b.bno = a.bno 
		where b.bno = #{bno};
	</select>
	
	<select id="list" resultType="BoardVO">
		select * from tbl_board order by bno desc
	</select>
	
	<update id="update" parameterType="BoardVO">
		update tbl_board set title=#{title}, content=#{content}
		where bno = #{bno}
	</update>
	
	<update id="updateViewcnt" parameterType="BoardVO">
		update tbl_board set viewcnt=#{viewcnt}
		where bno = #{bno}
	</update>
	
	<delete id="delete" parameterType="BoardVO">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<select id="listPage" resultType="BoardVO">
		select * from tbl_board order by bno desc limit #{page}, 10
	</select>
	
	<select id="listCriteria" resultType="BoardVO">
		select * from tbl_board order by bno desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(bno) from tbl_board
	</select>
	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			where title like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='c'.toString()">
			where content like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='w'.toString()">
			where writer like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='tc'.toString()">
				where title like CONCAT('%','${keyword}','%') OR content like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='cw'.toString()">
			where content like CONCAT('%','${keyword}','%') OR writer like CONCAT('%','${keyword}','%')
		</if>
		<if test="searchType=='tcw'.toString()">
			where title like CONCAT('%','${keyword}','%') OR content like CONCAT('%','${keyword}','%') OR writer like CONCAT('%','${keyword}','%')
		</if>
	</sql>
	
	<select id="listSearchCriteria" resultType="BoardVO">
		select * from tbl_board
			<include refid="search"></include>
			order by bno desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalSearchCount" resultType="int">
		select count(bno) from tbl_board
			<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>
	
	<select id="selFullName" resultType="String">
		select fullName from tbl_attach where bno = #{bno}
	</select>
	
	<insert id="addAttach">
		insert into tbl_attach (fullName, bno) values (#{fullname}, last_insert_id())
	</insert>
	
	<insert id="modAttach">
		insert into tbl_attach (fullName, bno) values(#{fullname}, #{bno})
	</insert>
	
	<delete id="delAttach">
		delete from tbl_attach where fullName = #{fullname}
	</delete>
	
	<delete id="delAllAttach">
		delete from tbl_attach where bno = #{bno}
	</delete>
</mapper>